:root {
  --white: #f7f9f9;
  --bg-pale: #f7ecde;
  --bg-darker: #e9dac1;
  --pale-blue: #9ed2c6;
  --turquoise: #54bab9;
  --dark-grey: #272727;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font: 14px "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Butler", sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

.logo img {
  width: 40%;
}

nav {
  display: flex;
  list-style: none;
  font-family: "Butler", sans-serif;
  font-size: large;
  /* width: 70%; */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

nav li a,
.logout {
  font-size: 20px;
  color: var(--turquoise);
  font-family: "Butler", sans-serif;
}

.logout {
  border: none;
  font-size: large;
  background-color: white;
}

.form-page,
.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}

.form-page::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("../images/bg-form-img.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.form-page h2 {
  font-size: 48px;
  color: var(--bg-pale);
}

.form-page form {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1rem 2rem;
  background-color: var(--bg-pale);
  border-radius: 7px;
}

form label {
  margin: 0.3rem 0;
}

form input {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 20px;
}

.form-page button {
  background-color: var(--pale-blue);
  padding: 1rem;
  border: none;
  border-radius: 3px;
  align-self: center;
  width: 50%;
  font-family: "Butler", sans-serif;
  font-size: 20px;
}

.form-page button:hover {
  background-color: var(--turquoise);
  color: white;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-list h1 {
  text-align: center;
  font-size: 48px;
  color: var(--turquoise);
}

.search-bar {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 5rem 0;
}

.search-bar button {
  background-color: var(--pale-blue);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  font-family: "Butler", sans-serif;
  font-size: 16px;
}

.recipe-list input {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  width: 50%;
  padding: 0.5rem;
  margin: 0;
}

.dishType-select {
  margin: 2rem 13.5rem;
  align-self: flex-start;
}

.dishType-select label {
  font-family: "Butler", sans-serif;
  font-size: 18px;
  color: var(--turquoise);
  margin-right: 1rem;
}

.dishType-select select {
  padding: 0.5rem;
}

.recipes {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  flex-wrap: wrap;
  max-width: 90%;
  /* margin: 5rem 0 5rem 4.5rem; */
  margin-bottom: 4rem;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  min-width: 390px;
  max-height: 500px;
  margin: 2rem;
  color: black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.recipe-card img {
  flex: 80%;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.card-content {
  background-color: var(--aubergine);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 20%;
  min-height: 80px;
  padding: 1rem 0;
}

.card-content a {
  color: var(--turquoise);
  font-family: "Butler", sans-serif;
  font-size: 20px;
}

.card-content span,
.minor span {
  margin: 0 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 3px;
}

.duration {
  background-color: var(--bg-darker);
}

.servings {
  background-color: var(--pale-blue);
}

.dish-type {
  background-color: var(--turquoise);
}

.home-page::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("../images/orange.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.home-title {
  color: white;

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  0%,
  100% {
    font-size: 2rem;
  }
  50% {
    font-size: 3rem;
  }
}

.home-page p {
  color: white;
  font-size: 1.2rem;
}

.details-page {
  margin: 5rem auto;
  max-width: 1500px;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.intro img {
  height: 700px;
  margin: 0;
}

.heading {
  display: flex;
  align-items: center;
}

.heading form {
  margin: 0;
  padding: 0;
}

.intro h1 {
  font-size: 3rem;
  margin: 4rem 0;
  color: var(--turquoise);
}

.intro-text {
  margin: 0 3rem;
}

.details-page .minor {
  /* width: 30rem; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 0;
}

.details-page .description {
  font-size: 1.2rem;
  margin: 5rem 0;
  font-style: italic;
  text-align: justify;

}

.edit-buttons {
  display: flex;
  justify-content: center;
  /* margin-top: 0.5rem; */
}

.ingredients-directions {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  margin: 5rem 0;
}

.ingredients {
  background-color: var(--bg-darker);
  padding: 1.6rem;
  width: 35%;
}

.directions {
  padding: 2.5rem;
  text-align: justify;
  width: 65%;
}

.ingredients h2,
.directions h2 {
  font-size: 36px;
}

.ingredients h2 {
  color: white;
}

.directions h2 {
  color: var(--bg-darker);
}

.ingredients li,
.directions li {
  margin: 1rem;
}

.update-recipe,
.delete-recipe {
  margin: 2rem 1rem 0 1rem;
}

.update-recipe button,
.delete-recipe button {
  font-size: 18px;
}

.small-btn,
.edit-page button {
  background-color: var(--pale-blue);
  padding: 1rem;
  border: none;
  border-radius: 3px;
  align-self: center;

  font-family: "Butler", sans-serif;
}

.small-btn:hover,
.edit-page button:hover {
  background-color: var(--turquoise);
  color: white;
}

.review h3,
.comment h2 {
  color: var(--pale-blue);
}

.comment textarea {
  width: 50rem;
  margin-bottom: 1rem;
}

.review,
.comment {
  margin-top: 1rem;
}

.profile-page,
.edit-page,
.edit-page section,
.comment,
.insert-box,
.add-page,
.add-page section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-page,
.add-page {
  width: 100%;
}

.edit-page h1,
.add-page h1 {
  color: var(--pale-blue);
}

.edit-page label,
.add-page label {
  font-size: 1.5rem;
}

.edit-page section,
.add-page section {
  margin: 1rem;
}

.edit-page input,
.edit-page textarea,
.add-page input,
.add-page textarea {
  width: 30rem;
}

.edit-page button,
.add-page button {
  margin-left: 12.5rem;
}

.error-page {
  margin: 2rem;
}

.heart-button-wrapper {
  border: none;
  background-color: white;
}

.heart-button {
  position: relative;
  margin: 0 2rem;
  width: 60px;
  height: 30px;
}



.heart-button:before {
  position: absolute;
  top: -15px;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 30px;
  height: 47px;
  border-radius: 40px 40px 0 0;
  background-color: var(--bg-darker);
  content: "";
  cursor: pointer;
  transition: background 0.4s;
}

.heart-button:after {
  position: absolute;
  top: -15px;
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
  width: 30px;
  height: 47px;
  border-radius: 40px 40px 0 0;
  background-color: var(--bg-darker);
  content: "";
  cursor: pointer;
  transition: background 0.4s;
}

.heart-button.liked::before,
.heart-button.liked::after {
  background-color: #d65076;
}
.heart-button.liked {
  animation: liked 0.4s ease;
}

@keyframes liked {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  background-color: var(--bg-darker);
  color: var(--dark-grey);
  padding: 1rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 1rem 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  margin: 1rem;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.8;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: white;
}

.networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.networks-hinju span {
  margin-right: 0.5rem;
}

.error-recipe-list{
  color: var(--turquoise);
  margin: 7rem 0;
  font-size: 36px;
  height: 15vh;
}